body{
    margin:auto
}

#mainheading{
    border:2px solid black;
    height:66px

}
#search{
    height:400px;
    background-image: url("images/foodWallpaper.png");
    background-size: cover;
    background-size : 100%  400px;

}
#quicksearch{
    border:2px solid rgb(215, 212, 15);
    height:500px
}
#logo{
    height:150px;
    width:150px;
    background-color: azure;
    border-radius:50%;
    margin:auto
    
}