h1{
    color:white;
    font-size:28px;
    text-align:center   
}
#mainheading{
    color:red; 
    text-align:center;
     font-size:35px;
     background-color:rgb(45, 198, 48)
}
.cards{      
    height :400px;
    width:27%;
    float:left;
    margin:3%;
    overflow:scroll
} 
.orchid{
        background-color:orchid
}
.purple{
    background-color :rgb(45, 198, 48)
}
.yellow{
    background-color :rgb(36, 118, 123)
}